.fade-enter-active,
.fade-leave-active
  transition: opacity .5s

.fade-enter,
.fade-leave-to
  opacity: 0

.slide-enter-active,
.slide-leave-active
  transition: max-height 1s  
  max-height: 240px

.slide-enter,
.slide-leave-to
  max-height: 0

.expand-enter-active,
.expand-leave-active
  transition: width 1s linear

.expand-enter,
.expand-leave-to
  width: 0
