@import variables from 'variables.styl'

body
  font:12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
  color: $fontColor
  background: $mainColor


/* 清除浮动 */
.clearfix:after
  content: ""
  display: block
  height: 0
  clear: both
  visibility: hidden
.clearfix
  *zoom: 1

a,
a:hover
  text-decoration: none
  color: $fontColor

input[type="text"]
  color: #ccc
  &::-webkit-input-placeholder
    color: #ccc
