body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td
  margin: 0
  padding: 0
/* 去除轮廓线 */
button,
input,
select,
textarea
  outline: none
button,
a,
label,
input[type='check']
  cursor: pointer
html,
body
  height: 100%
ol,
ul
  list-style: none
em,
i
  font-style: normal
textarea
  resize: none
a,
a:hover
  text-decoration: none
img
  vertical-align: middle
  border: none;
table
  border-collapse: collapse;
  border-spacing: 0
input,
button
  border: none